<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h4>Royaumes</h4>
            <hr />
            <a
              href="/profil-admin/gestion-boutique/ile"
              class="btn btn-primary mb-2"
              >Ile</a
            >
            <br />
            <a
              href="/profil-admin/gestion-boutique/prairie"
              class="btn btn-primary mb-2"
              >Prairie</a
            ><br />
            <a
              href="/profil-admin/gestion-boutique/foret"
              class="btn btn-primary mb-2"
              >Foret</a
            ><br />
            <a
              href="/profil-admin/gestion-boutique/vallee"
              class="btn btn-primary mb-2"
              >Vallée</a
            ><br />
            <a
              href="/profil-admin/gestion-boutique/desert"
              class="btn btn-primary mb-2"
              >Désert</a
            ><br />
            <a
              href="/profil-admin/gestion-boutique/chambre"
              class="btn btn-primary mb-2"
              >Chambre Forte</a
            ><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
