<body>
  <div class="banner-image">
    <div class="content">Sky kid children of the light</div>
  </div>
</body>
<!--acceuil-->
<div class="container my-5 d-grid gap-5">
  <div class="p-5 border text-center">
    <h1>Rejoignez la communauté enchanteresse de Sky</h1>
    <p>
      Tenez-vous la main et envolez-vous dans une aventure sociale inoubliable
      avec vos proches. Explorez les sept royaumes de ce royaume magnifiquement
      animé avec d'autres joueurs où la compassion, la communauté et
      l'émerveillement vous accueillent à chaque tournant. Créez des souvenirs
      enrichissants en résolvant des mystères, en vous faisant des amis et en
      aidant les autres en cours de route.
    </p>
    <br />
    <p>
      Sky est une expérience de jeu multi-primée créée par le studio qui vous a
      apporté Journey and Flower. Inscrivez dès aujourd'hui !
    </p>
  </div>
  <div class="p-5 border text-center">
    <h1>Laissez la lumière être le guide</h1>
    <p>
      Des saisons d'aventure, des événements en jeu à un monde en constante
      expansion d'amitiés et d'objets de collection à débloquer, il y a beaucoup
      à faire dans Sky. Restaurez la lumière tombée dans les constellations en
      aidant les autres. Voici une introduction pour débuter dans le royaume
    </p>
  </div>
</div>
