<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <table class="table">
              <tr>
                <th>id :</th>
                <th>login :</th>
                <th>édition</th>
                <th>suppression</th>
              </tr>
              <tr *ngFor="let u of users | async">
                <td>{{ u?.id }}</td>
                <td>{{ u?.login }}</td>
                <td>
                  <a
                    routerLink="/profil-admin/edit-skykid/{{ u.id }}"
                    class="btn btn-primary"
                    >édition</a
                  >
                </td>
                <td>
                  <button (click)="delete(u?.id!)" class="btn btn-danger">
                    supprimer
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
