<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Connexion</h1>
            <h6>Saisissez votre identifiant et votre mot de passe</h6>
          </div>
          <div *ngIf="showError" style="color: rgb(119, 37, 37)">
            {{ message }}
          </div>
          <form (ngSubmit)="submit()" #form="ngForm">
            <div class="mb-3">
              <label class="form-label" for="loginID">Identifiant*</label>
              <input
                [(ngModel)]="login"
                #loginCtrl="ngModel"
                required
                class="form-control"
                id="loginID"
                name="login"
                placeholder="Your login"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="passwordID">Mot de passe*</label>
              <input
                type="password"
                id="passwordID"
                class="form-control"
                name="password"
                placeholder="********"
                [(ngModel)]="password"
                #passwordCtrl="ngModel"
                required
              />
            </div>

            <div>*champ obligatoire</div>
            <div>
              <button
                type="submit"
                (click)="submit()"
                class="btn btn-primary mb-2"
                [disabled]="form.invalid"
              >
                Se connecter
              </button>
            </div>
          </form>
          <a style="color: black; margin-top: 10px" routerLink="/inscription"
            >Vous n'avez pas encore de compte ? Cliquez ici pour vous inscrire
            !</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
