<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <div>
              <div>Bonjour, votre inscription a bien été enregistrée!</div>
              <div>Jeune Skykid, prépare toi à ton incroyable aventure</div>
              <div>
                <button
                  class="btn btn-outline-success"
                  routerLink="/connexion"
                  routerLinkActive="active"
                >
                  Connexion
                </button>

                <button
                  class="btn btn-outline-success mg-2"
                  routerLink="/home"
                  routerLinkActive="active"
                  (click)="submit()"
                >
                  Accueil
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
