<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <div>
              <div class="form-group">
                <label>id :</label>
                <input class="form-control" [(ngModel)]="user.id" readonly />
              </div>
              <div class="form-group">
                <label>login :</label>
                <input
                  type="text"
                  class="form-control mb-4"
                  [(ngModel)]="user.login"
                />
              </div>
              <div>
                <button (click)="save()" class="btn btn-primary">
                  enregistrer
                </button>
                <a
                  routerLink="/profil-admin/list-skykid"
                  routerLinkActive="active"
                  class="btn btn-link"
                  >annuler</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
