section {
  padding: 0 100px;
  background-image: url("https://a.storyblok.com/f/108104/2600x1447/95e88405bc/sky-hero.jpeg");
  height: 100vh;
  display: flex;
  justify-content: center;
}

.card {
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 2555, 0.2);
  box-shadow: 0 5px 15 px rgba(0, 0, 0, 0.5);
}
