<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Inscription</h1>
            <h6>Enregistre toi</h6>
          </div>
          <form (ngSubmit)="submit()" class="mb-3">
            <div class="mb-3">
              <label class="form-label" for="form3Example3c">Identifiant</label>
              <input
                class="form-control"
                id="form3Example3c"
                formControlName="login"
                placeholder="Ton identifiant"
              />
            </div>

            <div
              *ngIf="
                monForm.get('login')?.dirty && monForm.get('login')?.invalid
              "
              class="alert alert-danger"
            >
              <ng-container *ngIf="monForm.get('login')?.hasError('required')">
                *champ obligatoire
              </ng-container>
              <ng-container
                *ngIf="monForm.get('login')?.hasError('loginExist')"
              >
                *ce login est deja utilisé
              </ng-container>
            </div>
            <ng-container formGroupName="passwordGroup">
              <div class="mb-3">
                <label class="form-label" for="form3Example4c"
                  >Mot de passe</label
                >
                <input
                  type="password"
                  id="form3Example4c"
                  class="form-control"
                  formControlName="password"
                  placeholder="Ton mot de passe"
                />

                <div
                  *ngIf="
                    monForm.get('passwordGroup.password')?.dirty &&
                    monForm.get('passwordGroup.password')?.invalid
                  "
                  class="alert alert-danger"
                >
                  *champ obligatoire
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="form3Example4cd"
                  >Confirme ton mot de passe</label
                >
                <input
                  type="password"
                  id="form3Example4cd"
                  class="form-control"
                  formControlName="confirm"
                  placeholder="Confirme ton mot de passe"
                />

                <div
                  *ngIf="
                    monForm
                      .get('passwordGroup')
                      ?.hasError('passwordAndConfirmNotEquals')
                  "
                  class="alert alert-danger"
                >
                  les 2 valeurs sont differentes
                </div>
              </div>
            </ng-container>
            <div>
              <button
                type="submit"
                class="btn btn-primary mb-2"
                routerLink="/inscription-success"
                routerLinkActive="active"
              >
                Valider
              </button>
            </div>
          </form>
          <a style="color: black" href="/connexion"
            >Déjà inscrit? Clique ici pour te connecter !</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
