<header class="header">
  <div class="header-inner">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand justify-content-center" href="/home">
        <img
          src="https://img2.storyblok.com/fit-in/0x300/filters:format(png)/f/108104/368x415/436d2e239c/sky-logo-white.png"
          width="40px"
        />
      </a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav">
          <li *ngIf="logged" class="nav-item active">
            Bonjour {{ user?.login }}
          </li>
          <li *ngIf="logged" class="nav-item active">
            <a class="nav-link" href="#">Profil</a>
          </li>
          <li *ngIf="logged" class="nav-item">
            <a class="nav-link" href="#">Inventaire</a>
          </li>
          <li *ngIf="" class="nav-item">
            <a class="nav-link" href="#">Inventaire</a>
          </li>
          <li *ngIf="logged" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Boutique
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">1</a></li>
              <li><a class="dropdown-item" href="#">2</a></li>
              <li><a class="dropdown-item" href="#">3</a></li>
              <li><a class="dropdown-item" href="#">4</a></li>
              <li><a class="dropdown-item" href="#">5</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/home" class="nav-link" style="color: black">Accueil</a>
          </li>
          <button
            *ngIf="logged"
            (click)="logout()"
            class="btn btn-link"
            style="color: red"
          >
            deconnexion
          </button>

          <li>
            <a
              *ngIf="!logged"
              routerLink="/inscription"
              routerLinkActive="active"
              class="nav-link"
              style="color: black"
            >
              S'inscrire</a
            >
          </li>
          <li>
            <a
              *ngIf="!logged"
              routerLink="/connexion"
              routerLinkActive="active"
              class="nav-link"
              style="color: black"
              >Se connecter</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <script src="js/bootstrap.bundle.min.js"></script>
</header>
