<header class="header">
  <div class="header-inner">
    <nav class="navbar navbar-expand-sm bg-warning justify-content-center">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand justify-content-center" href="/home">
        <img
          src="https://img2.storyblok.com/fit-in/0x300/filters:format(png)/f/108104/368x415/436d2e239c/sky-logo-white.png"
          width="40px"
        />
      </a>

      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarTogglerDemo03"
      >
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li *ngIf="logged" class="nav-item active">
            Bonjour {{ user?.login }}
          </li>
          <li *ngIf="logged" class="nav-item active">
            <a class="nav-link" href="#">Profil</a>
          </li>
          <li *ngIf="logged" class="nav-item">
            <a class="nav-link" href="#">Inventaire</a>
          </li>
          <li *ngIf="logged" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Boutique
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">1</a></li>
              <li><a class="dropdown-item" href="#">2</a></li>
              <li><a class="dropdown-item" href="#">3</a></li>
              <li><a class="dropdown-item" href="#">4</a></li>
              <li><a class="dropdown-item" href="#">5</a></li>
            </ul>
          </li>
          <li>
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </li>
          <li>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </li>

          <button *ngIf="logged" (click)="logout()" class="btn btn-link">
            deconnexion
          </button>

          <li
            *ngIf="!logged"
            routerLink="/inscription"
            routerLinkActive="active"
            class="btn btn-success"
          >
            S'inscrire
          </li>
          <li
            *ngIf="!logged"
            routerLink="/connexion"
            routerLinkActive="active"
            class="btn btn-success"
          >
            Se connecter
          </li>
        </ul>
        <form class="d-flex">
          <img
            src="https://www.pngkey.com/png/full/431-4310883_drapeau-rond-france-drapeau-france-jpg.png"
            width="50px"
          />
          <img
            src="https://romainthiery.fr/wp-content/uploads/2020/03/drapeau-anglais-rond-300x300-1.png"
            width="50px"
          />
        </form>
      </div>
    </nav>
  </div>
</header>
