<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card2">
          <div class="text-center">
            <h4>Inventaire</h4>
            <hr />
            <button type="button" class="button1">Masque / Chapeau</button
            ><br />
            <button type="button" class="button2">Cheveux / Coiffe</button
            ><br />
            <button type="button" class="button3">Cape</button><br />
            <button type="button" class="button4">Pantalon / Jambière</button
            ><br />
          </div>
        </div>
        <div class="card3">
          <div class="text-center">
            <h4>Dépot de Monnaies</h4>
            <hr />
            <button type="button" class="button1">Coeurs</button><br />
            <button type="button" class="button2">Bougies Blanches</button
            ><br />
            <button type="button" class="button2">Bougies Rouges</button><br />
            <button type="button" class="button2">Bougies d'Eden</button><br />
          </div>
        </div>
        <div class="card4">
          <div class="text-center">
            <h4>Royaumes</h4>
            <hr />
            <button type="button" class="button1 mb-5">Ile</button>
            <button type="button" class="button2 md-5">Prairie</button>
            <button type="button" class="button2 mg-5">Foret</button>
            <button type="button" class="button2 mt-5">Vallée</button>
            <button type="button" class="button2 mt-5">Désert</button>
            <button type="button" class="button2 mt-5">Chambre Forte</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
