<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card2">
          <div class="text-center">
            <h4>Inventaire</h4>
            <hr />
            <a href="/coiffe" class="btn btn-primary">Masque / Chapeau</a><br />
            <a href="/pantalon" class="btn btn-primary">Cheveux / Coiffe</a
            ><br />
            <a href="/cape" class="btn btn-primary">Cape</a><br />
            <a href="/chapeau" class="btn btn-primary">Pantalon / Jambière</a
            ><br />
          </div>
        </div>
        <div class="card3">
          <div class="text-center">
            <h4>Dépot de Monnaies</h4>
            <hr />
            <a href="/bb" class="btn btn-primary">Bougies Blanches</a><br />
            <a href="/br" class="btn btn-primary">Bougies Rouges</a><br />
            <a href="/coeur" class="btn btn-primary">Coeurs</a><br />
          </div>
        </div>
        <div class="card4">
          <div class="text-center">
            <h4>Royaumes</h4>
            <hr />
            <a href="/ile" class="btn btn-primary">Ile</a>
            <a href="/prairie" class="btn btn-primary">Prairie</a>
            <a href="/foret" class="btn btn-primary">Foret</a>
            <a href="/vallee" class="btn btn-primary">Vallée</a>
            <a href="/desert" class="btn btn-primary">Désert</a>
            <a href="/chambre" class="btn btn-primary">Chambre Forte</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
