<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card1">
          <div class="text-center">
            <h4>Gestion Users</h4>
            <hr />

            <a
              href="/profil-admin/edit-admin"
              class="btn btn-primary btn-rounded mb-2"
              >Modifier</a
            ><br />
            <a
              href="/profil-admin/supprimer"
              class="btn btn-primary btn-rounded mb-2"
              >Supprimer</a
            ><br />
          </div>
        </div>
        <div class="card2">
          <div class="text-center">
            <h4>Gestion BDD</h4>
            <hr />
            <a href="/profil-admin/" class="btn btn-primary btn-rounded mb-2"
              >(+) Boutinque</a
            ><br />
            <a
              href="/profil-admin/ajouter"
              class="btn btn-primary btn-rounded mb-2"
              >(-) Boutique</a
            ><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
