<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card1">
          <div class="text-center">
            <h4>Gestion Users</h4>
            <hr />

            <a
              href="/profil-admin/list-skykid"
              class="btn btn-primary btn-rounded mb-2"
              >Gérer les SkyKids </a
            ><br />
          </div>
        </div>
        <div class="card2">
          <div class="text-center">
            <h4>Gestion BDD</h4>
            <hr />
            <a
              href="/profil-admin/list-boutique"
              class="btn btn-primary btn-rounded mb-2"
              >Gérer la Boutique</a
            ><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
